<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebarUcitel.ejs') %>
        </div>
       <main>
        <div class="container">
          <h1>Jak vytvořit nový kurz</h1>
          <p>Jako učitel nyní můžete vytvořit nový kurz vyplněním názvu kurzu, jména vyučujícího, třídy a akademického roku do formuláře, následně kliknete na tlačítko „Vytvořit kurz“, čímž se data odešlou ke zpracování a uloží do systému, a obdržíte potvrzení o úspěšném vytvoření kurzu.</p>
        </div>
            <div class="container">
                <h1>Vytvořit nový kurz</h1>
                <!-- Dulezite je abu to nebyla absolutni cesta ale relativni -->
                <form action="novyKurz" method="POST">
                    <input name="courseName" type="text" placeholder="Název kurzu" required>
                    <input name="teachersName" type="text" placeholder="Celé jméno vyučujícího" required>
                    <input name="className" type="text" placeholder="Třída" required>
                    <input name="courseYear" type="text" placeholder="Rok" required>

                    <button class="submit" type="submit">Vytvořit kurz</button>
                </form>
                <% if (message) { %> 
                    <div class="message-box <%= message.success ? 'message-success' : 'message-error' %>">
                        <%= message.text %>
                    </div>
                <% } %>
            </div>
      </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <script src="/javascripts/handlers/classroomUcitelHandlerKurz.js"></script></body>

    <script>
   
    </script>
    <!-- <script src="/javascripts/classroom.js"></script> -->
</body>
</html>