<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="/stylesheets/classroomUcitel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebarUcitel.ejs') %>
        </div>
       <main>
        <!-- <div class="container">
            <h1>Úkoly</h1>
            <p>V této sekci naleznete všechny úkoly přiřazené k vašim kurzům. Můžete si prohlédnout jejich zadání, termíny odevzdání a případně je odevzdat podle pokynů vyučujícího.</p>
    
        </div> -->
        <div class="container">
            <h1>Nový úkol</h1>
        <p>Vytvářejte nové úkoly pro své studenty. Stačí zadat název úkolu, popis, termín odevzdání a vybrat kurz, ke kterému úkol patří.</p>

        </div>

            <div class="new-task-container">
                <h1>Vytvořit nový úkol</h1>
                <form action="ukoly" method="POST">
                    <div class="new-task">
                        <label for="new_task_name"><strong>Název úkolu:</strong></label>
                        <input type="text" name="jmenoUkolu" required>
                        
                        <label for="new_task_dateEntered"><strong>Termín zadání:</strong></label>
                        <input type="date" name="datumZasaniUkolu" value="2025-03-28">
                        
                        <label for="new_task_deadline"><strong>Termín odevzdání:</strong></label>
                        <input type="date" name="datumOdevzdaniUkolu" required>
                        
                        <label for="new_task_description"><strong>Popis úkolu:</strong></label>
                        <textarea name="popisUkolu" rows="4" required></textarea>
                        
                        <label for="new_task_course"><strong>Do jakého kurzu patří:</strong></label>
                        <select name="idKurz" id="select-course" onchange="updateCourseId()"  required>
                            
                        </select>
                        
                        <button class="submit-task" type="submit" onclick="success_message()">Vytvořit úkol</button>
                    </div>
                </form>
                <% if (message) { %> 
                    <div class="message-box <%= message.success ? 'message-success' : 'message-error' %>">
                        <%= message.text %>
                    </div>
                <% } %>   
            </div>
        </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <script>
        // Zajistuje ze doplni do formu aktualni datum
        document.addEventListener("DOMContentLoaded", function() {
        let today = new Date().toISOString().split('T')[0];
        document.getElementById("inputDatumZadani").value = today;
        });
        function updateCourseId() {
             // Získáme vybraný <option> element
            var selectedCourseId = document.getElementById("select-course").value;
            

            console.log(selectedCourseId);
            
        }
       
    </script>
<script src="/javascripts/handlers/classroomUcitelHandlerUkol.js"></script>
</body>
</html>