<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebarUcitel.ejs') %>
        </div>
       <main>
        <!-- <div class="container">
            <h1>Úkoly</h1>
            <p>V této sekci naleznete všechny úkoly přiřazené k vašim kurzům. Můžete si prohlédnout jejich zadání, termíny odevzdání a případně je odevzdat podle pokynů vyučujícího.</p>
    
        </div> -->
        <div class="container">
            <h1>Nový úkol</h1>
        <p>Vytvářejte nové úkoly pro své studenty. Stačí zadat název úkolu, popis, termín odevzdání a vybrat kurz, ke kterému úkol patří.</p>

        </div>
        <div class="container">
            <h1 style="margin-bottom: 2em;">Vytvoření nového úkolu</h1>
            
            <form action="ukoly" method="POST" class="assignment-form">
                <label for="assignmentName">Název úkolu:</label>
                <input name="jmenoUkolu" type="text" placeholder="Zadejte název úkolu" required>
    
                <label for="assignmentDescription">Popis úkolu:</label>
                <textarea name="popisUkolu" placeholder="Zadejte popis úkolu" required></textarea>

                <label for="dueDate">Termín zadání:</label>
                <input id="inputDatumZadani" name="datumZadaniUkolu" type="date" required>

                <label for="dueDate">Termín odevzdání:</label>
                <input name="datumOdevzdaniUkolu" type="date" required>
    
                <label for="course">Přiřadit do kurzu:</label>
                <select name="idKurz" id="select-course" onchange="updateCourseId()"  required>
                    <option value="math101">Matematika 101</option>
                    <option value="physics202">Fyzika 202</option>
                    <option value="history303">Dějepis 303</option>
                </select>
    
                <button class="submit" type="submit" onclick="success_message()">Vytvořit úkol</button>
                <p id="selected-course-id" name="zvolenyKurz" style="display: none;"></p>
            </form>
    
            <% if (message) { %> 
                <div class="message-box <%= message.success ? 'message-success' : 'message-error' %>">
                    <%= message.text %>
                </div>
            <% } %>        
        </div>
        </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <script>
        // Zajistuje ze doplni do formu aktualni datum
        document.addEventListener("DOMContentLoaded", function() {
        let today = new Date().toISOString().split('T')[0];
        document.getElementById("inputDatumZadani").value = today;
        });
        function updateCourseId() {
             // Získáme vybraný <option> element
            var selectedCourseId = document.getElementById("select-course").value;
            

            console.log(selectedCourseId);
            
        }
       
    </script>
<script src="/javascripts/handlers/classroomUcitelHandlerUkol.js"></script>
</body>
</html>